.product {
    width: 245px;
    height: 410px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 20%;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 10%;
}

.details button {
    width: 25px;
    height: 25px;
}

.count {
    display: flex;
    justify-content: space-around;
    width: 80px;
    height: 25px;
}

.img {
    text-align: center;
}

.product img {
    padding: 3%;
    width: 150px;
    height: 172px;
}

hr {
    width: 195px;
    margin-left: 10%;
    margin: auto;
}

.product p {
    font-weight: 400;
    font-size: 16px;
}

.details p{
    font-size: 16px;
}
.finish img{
    width: 250px;
    height: auto;
    margin-top: 20%;
}

/* css final step */
.finish {
    width: 245px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.total {
    background-color: #F2A341;
    text-align: center;
}

.finish button {
    width: 205px;
    height: 38px;
    text-decoration-line: underline;
    font-weight: 600;
    font-size: 22px;
}

@media (min-width:768px) {
    .product {
        width: 350px;
        height: 500px;
    }

    hr {
        width: 280px;
        margin-left: 10%;
    }

    .details button {
        width: 25px;
        height: 25px;
    }

    .count {
        width: 100px;
        height: 30px;
    }

    .product img {
        width: 200px;
        height: auto;
    }

    .product p {
        font-size: 20px;
    }
    .finish img{
        width: 300px;
        height: auto;
        margin-top: 20%;
    }

    /* css final step */
    .finish {
        width: 350px;
        height: 420px;
        margin-top: 7%;
        font-size: 20px;
    }

    .finish button {
        width: 235px;
        height: 45px;
    }
    .details p{
        font-size: 20px;
    }
}
@media (min-width:1200px) {
    .product {
        width: 500px;
        height: 650px;
    }

    .details button {
        width: 25px;
        height: 25px;
    }

    .count {
        width: 100px;
        height: 30px;
    }

    .product img {
        width: 270px;
        height: auto;
    }

    hr {
        width: 400px;
    }
    .finish img{
        width: 400px;
        height: auto;
        margin-top: 20%;
    }

    /* css final step */
    .finish {
        width: 500px;
        height: 550px;
        margin-top: 5%;
        font-size: 24px;
    }

    .finish button {
        width: 275px;
        height: 55px;
        font-size: 28px;
    }
    .details p{
        font-size: 24px;
    }
}