footer{
    width: 100%;
    height: 50px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.instagram{
    width: auto;
    height: 15px;
}
.nequi{
    width: auto;
    height: 15px;
}
.davi{
    width: auto;
    height: 15px;
}
p{
    font-size: 11px;
}
@media (min-width: 768px){
    footer{
        height: 50px;
        padding: 2%;
    }
    .instagram{
        width: auto;
        height: 22px;
    }
    .nequi{
        width: auto;
        height: 22px;
    }
    .davi{
        width: auto;
        height: 22px;
    }
    p{
        font-size: 15px;
    }
}
@media (min-width: 1200px){
    footer{
        height: 70px;
    }
    .instagram{
        width: auto;
        height: 30px;
    }
    .nequi{
        width: auto;
        height: 30px;
    }
    .davi{
        width: auto;
        height: 30px;
    }
    p{
        font-size: 18px;
    }
}